<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="apple-touch-icon" href="https://tokyu.bus-location.jp/blsys/favicon.ico">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=DotGothic16&display=swap" rel="stylesheet">
    <title>バス間ナビ</title>
    <style>* {
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            -webkit-touch-callout: none;
            -webkit-user-select: none;
        }</style>
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        body {
            background-color: black;
        }

        .green_text {
            color: #2a722a;
            font-size: 60px;
            font-family: 'DotGothic16', sans-serif;
        }

        .big_green_text {
            color: #2a722a;
            font-size: 180px;
            font-family: 'DotGothic16', sans-serif;
        }

        .orange_text {
            color: orange;
            font-size: 60px;
            font-family: 'DotGothic16', sans-serif;
        }

        .orange_header {
            color: orange;
            font-size: 40px;
            font-family: 'DotGothic16', sans-serif;
        }

        a {
            font-size: 10px;
            color: #fff;
            background: #5876a3;
            padding: 10px 30px;
            display: inline-block;
            border-radius: 5px;
            text-decoration: none;
            font-family: 'DotGothic16', sans-serif;
        }
    </style>
<body>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <a href="{{ bus_info.uri }}"
               target="_blank">バスナビ</a>
        </div>
    </div>
    <hr>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th style="width: 20%" class="orange_header text-center">発車時刻</th>
            <th style="width: 20%" class="orange_header text-center">学校到着</th>
            <th style="width: 30%" class="orange_header text-center">あと</th>
            <th style="width: 50%" class="orange_header text-center">おしらせ</th>
        </tr>
        </thead>
        <tbody>
        <tr id="bus">
            <td class="orange_text text-center align-middle" id="departure">{{ bus_info[0].departure }}</td>
            <td class="orange_text text-center align-middle" id="arrival">{{ bus_info[0].arrival }}</td>
            <td nowrap="true" class="big_green_text text-center align-middle" id="min_left">{{ bus_info[0].time }}分</td>
            <td class="orange_header text-left　align-middle" id="note">{{ bus_info[0].text }}</td>
        </tr>
        <tr id="bus_next">
            {% if bus_info[1] %}
                <td class="orange_text text-center align-middle" id="next_departure">{{ bus_info[1].departure }}</td>
                <td class="orange_text  text-center align-middle" id="next_arrival">{{ bus_info[1].arrival }}</td>
                <td class="green_text text-center align-middle" id="next_min_left">{{ bus_info[1].time }}分</td>
                <td class="orange_header text-left align-middle" id="next_note">{{ bus_info[1].text }}</td>
            {% endif %}
        </tr>
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="/js/index.js?t=111"></script>
</body>
</html>
